@media (width<=680px) {
  header video {
    display: none;
    visibility: hidden;
  }

  header img {
    width: 100vw;
    height: auto;
  }

  .container{
    max-height: 50vh;
    overflow: hidden;
  }
}
